.marksName{
	
	h1{
		text-align: center;
	}

	div{
		background-color: orange;
		margin-bottom: 4px;
		width: 300px;
		margin-left:30px;
		font-size: 20px;
		padding:0;
		display: block
	}

	a{
		text-decoration: none;
		color: white;
		cursor: pointer;
		display: block;
	}

	a:hover{
		background-color: red;
	}
}